header {
    color: #fff;
    background-color: #212529;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#content {
    min-height: 700px;
}

footer {
    background-color: #212529;
    color: #fff;
    height: 200px;
}