* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

nav {
    background: #343a40;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

body {
    background: #f5f5f5 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .container {
    max-width: 1170px;
    margin: 0 auto; 
} */

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700
}


.menu {
    display: flex;
    margin: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    padding-right: 3rem;
    font-size: 20px;
    font-weight: 700
}

.menu button {
    border: none;
    background-color: #c87847;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #af683d;
    border-radius: 7px;
    padding: 5px;
}

.menu button:hover {
    background-color: #ef9055;
    transition: .5s;
}

.main-content {
    flex: 1 0 auto;
}

.month {
    margin-top: 2rem;
}

.month-menu {
    list-style: none;
}


.month-menu .month-head {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    border: 2px solid #343a40;
}

/* .week-menu {
    display: none;
} */

.week-head th {
    padding-right: 2rem;
}

.week-menu li {
    list-style: none;
}

.days-head td a {
    text-decoration: none;
    color: #fff;
}

.days-menu li {
    list-style: none;
}

.days-menu li a {
    text-decoration: none;
}

.btn-head {
    border-radius: 10px !important;
    height: 60px !important;
}

.btn-submit {
    margin-top: 10px;
}

.btn-submit button {
    border: none;
}

footer {
    background-color: #343a40;
    flex: 0 0 auto;
}

.footer-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.footer-copy {
    background-color: #343a40;
    text-align: center;
}

.card-body {
    border: none;
    border-radius: 15px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-detail {
    /* align-items: center;
    text-align: center; */
    border: 1px solid;
    background: #ddd;
    width: 150px;
    height: 100px;
}

.detail-work {
    border-radius: 10px;
    padding: 2rem;
    margin: 0 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    width: 50%;
}

.detail-work:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.title-body textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.button-menu {
    background-color: #007bff !important;
    border: #007bff !important;
}

.down-menu {
    background-color: #007bff !important;
}